/node_modules
/server/node_modules
/server/dist
/server/.env  
/ocr-service/venv
/client/node_modules
/client/build
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore the root .env file containing secrets
/.env